body { 
    background-image: url("../images/marioonthebeach.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;

    }
    h1 {
        font-family: lobster, sans-serif;
        font-style: normal;
        font-weight: 400;
        color:navy;
    }
  nav {
    width: 35%;
    height: 150px;

  }
nav ul li{
    color:skyblue;
    font-size: 18px;
    list-style-type: none;
    float: left; 
    margin-right:15px;
}
nav ul li a {
    color:skyblue;
    font-family: lobster, sans-serif;
    text-decoration: none;


}
#mario {
    background-image: url("../images/mario.png"); 
    background-repeat: no-repeat;
    background-size: 50%;
    color: skyblue;
}

#luigi {
    background-image: url ("../images/luigi.webp");
    background-repeat: no-repeat;
    background-size: 50%;
    color:darkgreen;
}
#yoshi {
    background-image: url ("../images/yoshi.webp");
    background-repeat: no-repeat;
    background-size: 50%;
    color: green; 
}

#bowser {
    background-image: url ("../images/bowser.webp");
    background-repeat: no-repeat;
    background-size: 50%;
    color: black;
}

#princesspeach {
    background-image: url("../images/princesspeach.png");
    background-repeat: no-repeat;
    background-size: 50%;
    color: hotpink;
}

#Anniversary {
    background-image: url ("../images/supermariobros35thannivary.png");
    background-repeat: no-repeat;
    background-size: 50%;
    color: blue;
}

#SuperMarioOdyssey {
    background-image: url ("../images/supermarioodyssey.jpeg");
    background-repeat: no-repeat;
    background-size: 50%;
    color: blue;
}